body, html {
  width: 100%;
  height: 90%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #000;
}



.notHeader {
  background-image: url('../images/test.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  filter: sepia(40%);
  filter: brightness(70%);
  filter: blur(40%);
  filter: contrast(90%);
  margin-bottom: 50px;
  filter: drop-shadow(5px 5px 15px #0000009a);
  }
  
h1 {
  color: rgb(22, 22, 22);
  text-shadow: rgb(133, 133, 130) 2px 2px;
  font-size: 40px;
  margin-left: 50px;
  padding-top: 25px;
  width: 200px;
  height: 130px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  border: 2px #000 solid;
  filter: sepia(100%);
  filter: blur(.2px); 
  background-color: #fff;
  font-weight: 900;
  line-height: 20px;
  padding-top: 50px;
}
p {
  margin-bottom: 50px;
}
h3 {
  display: flex;
  flex-wrap: inherit;
  text-shadow: #000 2px 2px;
  background-color: #ccc;
  display: block;
  font-size: 2.5em;
}


#logoBox {
  width: 30vw;
  padding-top: 50px;


}
#whiteSpace {
  width: 100%;
  position: absolute;
  top: 0px;
  color: #000;
  text-align: center;
  padding-top: 15px;
  font-size: 1em;
}



#landingBox\ blue, #landingBox\ pink  {
height: 35vh;
margin-bottom: 200px;
font-weight: 900;
font-size: 18px;
display: flex;
text-align: center;
align-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0 auto 20px;
}
#landingBox\ blue {
  background-color: #FFEDE5;
}
#landingBox\ pink {
  background-color: #DAE0E9;
}