body, html {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    color: #000;
  }
  
  /* header {
    background-image: url('../images/test.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    text-align: center;
    align-content: center;
    align-items: center;
    filter: sepia(40%);
    filter: brightness(70%);
    filter: blur(40%);
    filter: contrast(90%);
    margin-bottom: 50px;
    filter: drop-shadow(5px 5px 15px #0000009a);
  } */
  
  
  h1 {
    color: rgb(22, 22, 22);
    text-shadow: rgb(133, 133, 130) 2px 2px;
    font-size: 40px;
    margin-left: 50px;
    padding-top: 25px;
    width: 200px;
    height: 130px;
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    border: 2px #000 solid;
    filter: sepia(100%);
    filter: blur(.2px); 
    background-color: #fff;
    font-weight: 900;
    line-height: 20px;
    padding-top: 50px;
  }
  p {
    margin-bottom: 50px;
  }
  h3 {
    display: flex;
    flex-wrap: inherit;
    text-shadow: #000 2px 2px;
    background-color: #ccc;
    display: block;
    font-size: 2.5em;
  }
  #logoBox {
    width: 30vw;
    /* padding-top: 50px; */

  }
  #mainImg{
    max-width:100%;
    height: auto;
    padding-right:15px;
    padding-top: 50px;
  }
  #imgDiv{
    width: 100%;
    
    object-fit: fill;
  }
  
  #introduction{
    margin-top: 50px;
    max-height: fit-content;
    width: 100%;
    color: rgb(32, 28, 28) !important;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.322);
    font-size: 20px;
    font-weight: 200;
  }
  
  #landingBox\ blue, #landingBox\ pink  {
  height: 35vh;
  margin-bottom: 200px;
  font-weight: 900;
  font-size: 18px;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
  }

  #landingBox\ blue {
    float: right;
  }
  #techButton {
    background-color: #DAE0E9;
  }

  #teamButton{
    background-color: #FFEDE5;
  }
  a:link {
    color: rgb(32, 28, 28);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(32, 28, 28);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color:rgb(32, 28, 28);
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline;
  }

  /* @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  } */
  
  #intro {  
    /* animation: 3s ease-out 0s 1 slideInFromLeft; */
    padding-right:15px;
  }
  /* @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  } */
 
  
  #why{  
    /* animation: 3s ease-out 0s 1 slideInFromRight; */
    padding-right: 15px;
  } 