body, html {
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #000;
  min-height: 100%;
}

header {
  background-image: url("../images/signuppink.jpg");
  background-size: cover;
  background-blend-mode: luminosity;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  filter: sepia(40%);
  filter: brightness(70%);
  filter: blur(40%);
  filter: contrast(90%);
  margin-bottom: 0px;
  filter: drop-shadow(5px 5px 15px #0000009a);
  padding-top: 5%;
}


h1 {
  color: rgb(22, 22, 22);
  text-shadow: rgb(133, 133, 130) 2px 2px;
  font-size: 40px;
  margin-left: 50px;
  padding-top: 25px;
  width: 200px;
  height: 130px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  border: 2px #000 solid;
  filter: sepia(100%);
  filter: blur(.2px); 
  background-color: #fff;
  font-weight: 900;
  line-height: 20px;
  padding-top: 50px;
}
p {
  margin-bottom: 50px;
}
h3 {
  display: flex;
  flex-wrap: inherit;
  text-shadow: #000 2px 2px;
  background-color: #ccc;
  display: block;
  font-size: 2.5em;
}


#logoBox {
  width: 30vw;
  padding-top: 50px;
  min-width: 300px;


}
#whiteSpace {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  /* background-color: #fff; */
  background-image: url('../images/whitetexture3.png');
  background-size: cover;
  
  color: #000;
  text-align: center;
  margin-top: 20px;
  padding: 5px 30px 5px;
  font-size: 1em;
  background-blend-mode: luminosity;
  filter: brightness(99%);
  filter: blur(.5px);
  filter: drop-shadow(30px 30px 30px #000000b9);
}

#introduction{
  margin-top: 200px;
  max-height: fit-content;
  width: 100%;
  color: rgb(32, 28, 28) !important;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.322);
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}

#landingBox\ blue, #landingBox\ pink  {
height: 35vh;
margin-bottom: 200px;
font-weight: 900;
font-size: 18px;
display: flex;
text-align: center;
align-content: center;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0 auto 20px;
}
#landingBox\ blue {
  background-color: #FFEDE5;
}
#landingBox\ pink {
  background-color: #DAE0E9;
}

footer {
  text-align: center;
  background-color: rgb(196, 157, 140);
  font-size: 10px;
  color: #fff;
}
.submitBtn {
  margin-bottom: 20px;
  }